@font-face {
  font-family: 'kumbh-sans-regular';
  src: url('../../assets/fonts/kumbh-sans-regular.woff2') format('woff2'),
  url('../../assets/fonts/kumbh-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kumbh-sans-bold';
  src: url('../../assets/fonts/kumbh-sans-bold.woff2') format('woff2'),
  url('../../assets/fonts/kumbh-sans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
