@use '../abstracts/' as *;

.hero {
  &__content,
  &__illustration {
    height: 100%;
  }

  &__illustration {
    padding-bottom: toRem(64px);

    img {
      width: toRem(170px);
    }
  }

  &__title,
  &__tag-line {
    text-align: center;
  }

  &__title {
    margin-bottom: toRem(24px);
  }

  &__tag-line {
    line-height: 1.6;

    &:last-of-type {
      margin-bottom: toRem(24px);
    }
  }

  @include media-breakpoint(md) {
    &__illustration {
      padding-bottom: 0;

      img {
        width: toRem(280px);
      }
    }

    &__title,
    &__tag-line {
      text-align: left;
    }
  }

  @include media-breakpoint(xxl) {
    &__illustration {
      img {
        width: toRem(475px);
      }
    }

    &__tag-line {
      font-size: toRem(18px);

      &:last-of-type {
        margin-bottom: toRem(32px);
      }
    }
  }
}
