@use '../abstracts/' as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__illustration,
  &__content {
    height: 100%;
  }

  &__illustration,
  &__form {
    transform: translateX(-10%);
    opacity: 0;
  }

  &__illustration {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: toRem(64px);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

    img {
      width: toRem(200px);
    }
  }

  &__content {
    text-align: center;
  }

  &__form {
    clip-path: polygon(-40% 0, 0 0, 0 140%, -40% 140%);
  }

  &__title,
  &__tag-line,
  &__countdown {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(100%);
    opacity: 0;
  }

  &__title {
    margin-bottom: toRem(24px);  
  }

  &__tag-line {
    line-height: 1.6;

    &:last-of-type {
      margin-bottom: toRem(24px);
    }
  }

  &__cta {
    clip-path: polygon(-30% 100%, 130% 100%, 100% 100%, 0 100%);
    transform: translateY(100%);
    opacity: 0;
  }

  &__card {
    position: relative;
    width: 100%;
    height: toRem(496px);

    &-front,
    &-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.8s ease-in-out;
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }

    &-front {
      transform: rotateY(0deg);
    }

    &-back {
      transform: rotateY(180deg);
    }

    &--flip {
      .hero__card {
        &-front {
          transform: rotateY(180deg);
          pointer-events: none;
        }

        &-back {
          transform: rotateY(0deg);
        }
      }
    }
  }

  @include media-breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__illustration {
      flex: 1;
      order: 2;
      justify-content: flex-end;
      padding-bottom: 0;

      img {
        width: toRem(310px);
      }
    }

    &__content {
      flex: 1;
      order: 1;
      text-align: left;
    }

    &__title,
    &__tag-line {
      text-align: left;
    }

    &__title {
      margin-top: toRem(73px);
      margin-bottom: toRem(20px);
    }
  }

  @include media-breakpoint(xl) {
    &__illustration {
      img {
        width: toRem(450px);
      }
    }

    &__tag-line {
      font-size: toRem(18px);

      &:last-of-type {
        margin-bottom: toRem(32px);
      }
    }
  }

  @include media-breakpoint(xxl) {
    &__illustration {
      img {
        width: toRem(505px);
      }
    }
  }
}
