@use '../abstracts/' as *;

.swatch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: toRem(64px);

  &__color {
    width: toRem(100px);
    height: toRem(100px);
    margin-right: toRem(24px);
    border-radius: 50%;
    background-color: $neutral-color-2;

    &--blue-1 {
      background-color: $blue-color-1;
    }

    &--blue-2 {
      background-color: $blue-color-2;
    }

    &--dark-1 {
      background-color: $dark-color-1;
    }

    &--dark-2 {
      background-color: $dark-color-2;
    }

    &--dark-3 {
      background-color: $dark-color-3;
    }

    &--red-1 {
      background-color: $red-color-1;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__hex,
  &__color-model {
    font-size: toRem(16px);
  }

  &__color-model {
    font-family: $font-family-primary-regular;

    &-title {
      margin-right: toRem(24px);
      color: $dark-color-1--opacity-50;
    }
  }
}