@use '../abstracts/' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  &__header {
    padding: toRem(46px) 0 toRem(80px) 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__section {
    &--bg-light {
      background-color: $neutral-color-2;
    }

    &--bg-dark {
      background-color: $dark-color-2;
    }

    &--hero {
      padding-bottom: toRem(100px);
    }

    &--pricing {
      .grid {
        margin-bottom: toRem(-790px);
      }
    }

    &--countdown {
      padding-top: toRem(894px);
      padding-bottom: toRem(100px);
      background-color: $dark-color-2;
      background-image: url('../../assets/images/home/bg-pattern-footer.svg');
      background-position: center toRem(160px);
      background-repeat: no-repeat;
      background-size: toRem(1202px) toRem(1202px);
      // background-size: 320vw 320vw;
    }
  }

  &__footer {
    padding: toRem(20px) 0;
    background-color: $dark-color-1;

    p {
      color: $neutral-color-1;
      font-size: toRem(14px);
    }
  }

  &--design-system {
    .page {
      &__header {
        padding-bottom: toRem(24px);
      }
    }
  }

  &--home {
    background-image: url('../../assets/images/home/bg-pattern-header.svg');
    background-position: center toRem(-170px);
    background-repeat: no-repeat;
    background-size: toRem(458px) toRem(458px);
  }

  @include media-breakpoint(md) {
    &__header {
      padding: toRem(80px) 0 toRem(104px) 0;
    }

    &__section {
      &--hero {
        padding-bottom: toRem(140px);
      }

      &--pricing {
        .grid {
          margin-bottom: toRem(-544px);
        }
      }

      &--countdown {
        padding-top: toRem(598px);
        background-position: center toRem(20px);
        background-size: toRem(1454px) toRem(1454px);
        // background-size: 189vw 189vw;
      }
    }

    &--home {
      background-position: toRem(380px) toRem(-160px);
      background-size: toRem(666px) toRem(666px);
    }
  }


  @include media-breakpoint(xl) {
    &__header {
      padding-bottom: toRem(102px);
    }

    &__section {
      &--hero {
        padding-bottom: toRem(184px);
      }

      &--pricing {
        .grid {
          margin-bottom: toRem(-261px);
        }
      }

      &--countdown {
        padding-top: toRem(336px);
        padding-bottom: toRem(90px);
        background-position: 92% toRem(-615px);
        background-size: toRem(2036px) toRem(2036px);
      }
    }

    &--home {
      background-position: 904% toRem(-430px);
      background-size: toRem(1134px) toRem(1134px);
    }
  }

  @include media-breakpoint(xxl) {
    &__section {
      &--countdown {
        background-position: 114% toRem(-615px);
      }
    }

    &--home {
      background-position: 236% toRem(-430px);
    }
  }

  @include media-breakpoint(1680px) {
    &__section {
      &--countdown {
        background-position: 156% toRem(-615px);
      }
    }

    &--home {
      background-position: 139% toRem(-430px);
    }
  }

  @include media-breakpoint(1920px) {
    &__section {
      &--countdown {
        background-position: 360% toRem(-615px);
      }
    }

    &--home {
      background-position: 111.5% toRem(-430px);
    }
  }
}
