@use '../abstracts/' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  &__header {
    padding: toRem(46px) 0 toRem(80px) 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__section {
    &--bg-light {
      background-color: $neutral-color-2;
    }

    &--bg-dark {
      background-color: $dark-color-2;
    }

    &--hero {
      padding-bottom: toRem(894px);
    }

    &--pricing {
      padding-bottom: toRem(100px);

      .page {
        &__overlap {
          position: absolute;
          top: toRem(-796px);
          left: toRem(24px);
          width: calc(100% - toRem(48px));
        }
      
        &__adjust-overlap {
          padding-top: toRem(894px);
        }
      }
    }
  }

  &__footer {
    padding: toRem(20px) 0;
    background-color: $dark-color-1;

    p {
      color: $neutral-color-1;
      font-size: toRem(14px);
    }
  }

  &--design-system {
    .page {
      &__header {
        padding-bottom: toRem(24px);
      }
    }
  }

  @include media-breakpoint(md) {
    &__header {
      padding: toRem(80px) 0 toRem(104px) 0;
    }

    &__section {
      &--hero {
        padding-bottom: toRem(690px);
      }

      &--pricing {
        .page {
          &__overlap {
            top: toRem(-550px);
            left: toRem(16px);
            width: calc(100% - toRem(32px));
          }
        
          &__adjust-overlap {
            padding-top: toRem(598px);
          }
        }
      }
    }
  }


  @include media-breakpoint(xl) {
    &__header {
      padding-bottom: toRem(102px);
    }

    &__section {
      &--hero {
        padding-bottom: toRem(370px);
      }

      &--pricing {
        padding-bottom: toRem(90px);

        .page {
          &__overlap {
            top: toRem(-256px);
          }
        
          &__adjust-overlap {
            padding-top: toRem(336px);
          }
        }
      }
    }
  }
}
