@use '../abstracts/' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  &__skip-link {
    position: absolute;
    top: toRem(4px);
    left: toRem(4px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: toRem(7px) toRem(20px);
    border-radius: toRem(20px);
    font-family: $font-family-primary-bold;
    font-size: toRem(14px);
    line-height: 1.75;
    background-color: $blue-color-1;
    color: $neutral-color-2;
    z-index: $zindex-sticky;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: opacity 0.75s ease-in-out;

    &:focus {
      opacity: 1;
      clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
    }
  }

  &__header {
    padding: toRem(46px) 0 toRem(80px) 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__section {
    &--bg-light {
      background-color: $neutral-color-2;
    }

    &--bg-dark {
      background-color: $dark-color-2;
    }

    &--hero {
      padding-bottom: toRem(100px);
    }
  }

  &__footer {
    padding: toRem(20px) 0;
    background-color: $dark-color-1;
  }

  &--home,
  &--signup {
    background-image: url('../../assets/images/home/bg-pattern-header.svg');
    background-position: center toRem(-170px);
    background-repeat: no-repeat;
    background-size: toRem(458px) toRem(458px);
  }

  @include media-breakpoint(md) {
    &__header {
      padding: toRem(80px) 0 toRem(104px) 0;
    }

    &__section {
      &--hero {
        padding-bottom: toRem(140px);
      }
    }
  }

  @include media-breakpoint(xl) {
    &__header {
      padding-bottom: toRem(102px);
    }

    &__section {
      &--hero {
        padding-bottom: toRem(184px);
      }
    }
  }
}
